* {
	font-family: Calibri, sans-serif;
	font-size : 18px;
	text-align: center;
}

body {
	background-color: #f2f2f2;
	font-family: Calibri;
}

/* ALL LEVEL */

li {
	padding: 5px; 
}

a {
	text-decoration: none;
	color: black;
}

/* MENU FIRST LEVEL */

ul {
	background-color: #ffa64d;
	list-style-type: none;
	padding: 20px;
}

li:hover {
	background-color: #ffcc99;
}

/* MENU SECOND LEVEL */

li ul {
	display: none;
}

li:hover ul {
	background-color: #ffcc99;
	display: block;
}

li:hover ul li:hover {
	background-color: #ffe6cc;
}

